/* Import other css files */
@import url("root.css");
@import url("top.css");
@import url("bottom.css");
@import url("media.css");

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');

::placeholder{
  color: var(--color);
  opacity: 0.8;
}

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--color);
  font-family: Cabin;
}

.container {
  margin: var(--body-margin);
  padding: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: calc(100% - var(--body-margin) * 2);
  width: calc(100% - var(--body-margin) * 2);
}