.top{
  height: 60px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  container-type: inline-size;
}

.top .left{
  display: flex;
  gap: 10px;
  width: 250px;
}

.top .left .logo{
  height: 60px;
}


.top .left span{
  font-weight: 900;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  height: 50px;
  margin: auto 0;
}

.top .centre{
  display: flex;
  margin: auto auto;
  min-width: 250px;
  width: 40%;
  max-width: 600px;
}

.top .centre input{
  background-color: #00000000;
  outline: none;
  border: none;
  color: var(--color);
  font-size: 20px;
  margin: 0 auto;
  width: 100%;
}

.search_icon{
  padding: 3px;
  margin: 0 5px;
}

.top .centre .search{
  display: flex;
  height: 33px;
  background-color: var(--primary);
  border: var(--second) 2px solid;
  padding: 5px;
  width: 100%;
  border-radius: 8px;
}

.top .right {
  display: flex;
  margin-right: 0;
  width: 250px;
}

.top .right .box {
  display: flex;
  margin-right: 0;
  gap: clamp(5px, calc(3vw - 15px), 15px);
  margin-left: auto;
}

.top .right button{
  margin: auto 0;
  background-color: var(--accent);
  height: 38px;
  width: 38px;
  border-radius: 8px;
  outline: 0;
  border: 0; 
  display: flex;
}

.right_image{
  margin: auto;
  width: 24px;
  height: 24px;
}