.top{
  height: 60px;
  width: 100%;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
}

.top left{
  display: flex;
  gap: 10px;
}

.top left .logo{
  height: 60px;
}

.top left span{
  font-weight: 900;
  font-family: "Black Han Sans", sans-serif;
  font-size: 50px;
  height: 50px;
  margin: auto 0;
}

.top centre{
  display: flex;
  margin: auto auto;
}

.top centre input{
  background-color: #00000000;
  outline: none;
  border: none;
  color: var(--color);
  font-size: 20px;
  margin: 0 auto;
}

.top centre search{
  display: flex;
  height: 40px;
  background-color: var(--primary);
  border: var(--second) 2px solid;
  padding: 5px;
}